/*
Color Palette
-#363636 dark grey
-#df5441 orange
-#f0a967 goldenrod
-#e8e8e8 light grey
-#787878 grey
*/

/*
#f4f4f4 white smoke (text color?)
#A32638 Auburn (hover color?)
#008080 Teal (contrasting color)
#9e9e9e Cadet gray
#B7410E Rust (similar to the orange but complimentary?)

New color palette???????
#10945F 

*/

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Gemunu+Libre&display=swap');

:root {
  --dark-grey: #363636;
  --white-smoke: #f4f4f4;
  --light-grey: #e8e8e8;
  --grey: #787878;
  --green: #37fd12;

  /* 
  Neon Color Palette
  Robin egg blue : #46D7E2
  Razzmatazz : #E72B6B  
  Saffron : #F3C036
  */

  --primary-color: #46d7e2;
  --secondary-color: #e72b6b;
  --tertiary-color: #f3c036;

  /* background: rgb(54,54,54);
background: linear-gradient(105deg, rgba(54,54,54,1) 0%, rgba(120,120,120,1) 100%); */

  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @media (max-width: 850px) {
  :root {
    font-size: 50%;
  }
} */
